In [9]:
import pandas as pd

In [12]:
dados1 = {
    'nome':['joão','marcos', "elias"],
    'idade':[18,27,2],    
    "cidade": ['São paulo', 'Piauí', 'Piauí'],
}
pd.DataFrame(dados1)

     nome  idade     cidade
0    joão     18  São paulo
1  marcos     27      Piauí
2   elias      2      Piauí